/*Общие настройки шаблона*/
body,
html{
	width: 100%;
	height: 100%;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
	background: #ccc;
	margin-bottom: 10px;
}
.wrapper li,
.footer-main li{
	list-style:  none;
}
.empty{
	height: 120px;
}
.footer-main{
	position: relative;
	height: 120px;
	margin-top: -120px;
	background: yellow;
}
.layout-positioner{
	width: 1200px;
	margin: 0 auto;
	outline: 2px solid blue;
	background: #fff;
}

/*header*/
.header-menu{
	padding: 0 6% 0 6%;
	outline: 2px solid orange;
}
.header-menu-item{
	float: left;
	width: 20%;
	padding: 15px 0 15px 0;
}
.item-right{
	float: right;
	text-align: right;
}
.header-menu-logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}