/*устанавливаем шрифты*/
@font-face {
    font-family: 'ptSans';
    src: url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'ptSans';
    src: url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'ptSans';
    src: url('../fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bolditalic-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: 400;
    font-style: italic;

}


@font-face {
    font-family: 'ptSans';
    src: url('../fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-italic-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-italic-webfont.svg#pt_sansitalic') format('svg');
    font-weight: bold;
    font-style: italic;

}
/*Общие настройки шаблона*/
*{
	box-sizing: border-box;
}
body,
html{
	width: 100%;
	height: 100%;
	
}
body{
	margin: 0;
	padding: 0;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 14px;
	line-height: 1.42;
	color: #333333;
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: normal;
}

.layout-positioner{
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
	
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.visability-hidden{
	display: none;
}
.wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
	background: #f2f2f2;
}
.wrapper li,
.footer-main li{
	list-style:  none;
}
.empty{
	height: 120px;
}
.footer-main{
	position: relative;
	height: 120px;
	margin-top: -120px;
	
}


/*header*/
.header-main{
	position: relative;
		
}
.header-menu{
	padding: 0 6% 0 6%;
}

.header-nav-left,
.header-nav-right{
	width: 40%;
	display: flex;
	justify-content: space-between;
}
.header-nav-left{
	float: left;
}
.header-nav-left .header-menu-item{
	text-align: left;
	width: 100%;
}
.header-nav-right{
	float: right;
}
.header-nav-right .header-menu-item{
	text-align: right;
	width: 100%;
}

.header-menu-item{
	float: left;
	width: 20%;
	padding: 15px 0 15px 0;
}
.header-menu-link{
	display: block;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: 1s;
}
.header-menu-link:hover,
.header-menu-link:focus{
	color: #81b3d2;
}
.header-menu-link:focus{
	outline: none;
}
.header-menu-link:active{
	color: #cacaca;
}
.header-menu-link-active{
	color: #766357;
}

.header-menu-logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
.header-welcome{
	position: relative;
	width: 100%;
	height: 720px;
	margin-bottom: 10px;
	background: #ddebf4 url(../img/img_header.png)no-repeat center center;
	background-size: cover;
	
}

.header-welcome-img{
	display: block;
	position: absolute;
	bottom: -10%;
	top: 10%;

}
.header-welcome-description{
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}
.description-title,
.advantage-description-title{
	font-size: 21px;
	font-weight: bold;
	color: #000;
	width: 40%;
	margin: 0 auto 20px auto;
	text-transform: uppercase;

}
.description-text{
	text-transform: uppercase;
}

/*advantages*/
.advantage{
	display: flex;
	overflow: hidden;
}
.advantage-reverse{
	display: flex;
	flex-direction: row-reverse;
}
.advantage-description{
	width: 34%;
}	
.advantage-pict{
	width: 66%;
}
.advantage-img{
	display: block;
	max-width: 100%;
	max-height: 100%;

}
.advantage-description{
	background: #81b3d2;
	position: relative;
}
.advantage-description .description-content{
	position: absolute;
	text-align: center;
	overflow: hidden;
	width: 70%;
	left: 50%;
	margin-left: -35%;
	height:  200px;
	top: 50%;
	transform: translateY(-50%);
}
.advantage-description-title{
	width: 60%;
	text-align: center;
	color: #fff;
}
.advantage-description-number{
	position: relative;
	margin-bottom: 30px;
}
.advantage-description-number:after,
.advantage-description-number:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 10px;
	border: 1px solid #fff;
}
.advantage-description-number:before{
	right: 110px;
}
.advantage-description-number:after{
	left: 110px;
}
.advantage-description-number,
.advantage-description-text{
	color: #fff;
	text-transform: uppercase;
}

/*properties*/
.properties{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.properties-bottom{
	background: #eeeeee;
}
.property{
	width: 33%;
	text-align: center;
	padding: 50px 0 80px 0;
}
.property svg{
	margin-bottom: 15px;
}
.property-title{
	font-size: 21px;
	color: #000;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.property-text{
	text-transform: uppercase;
	width: 75%;
	margin: 0 auto;
	
}
.property-number{
	margin-bottom: 20px;
}

/*interesting*/
.interesting{
	text-align: center;
	padding: 40px 0 0 0;
}
.interesting-title{
	font-size: 21px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.interesting-text{
	text-transform: uppercase;
	width: 40%;
	text-align: center;
	margin: 0 auto 50px auto;
}
.interesting-text .interesting-text-top{
	display: block;
	
}
.interesting-text .interesting-text-botton{
	display: block;
}
.button{
	padding: 30px 0;
	width: 51%;
	border: none;
	background: #766357;
	cursor: pointer;
	transition: 1s;
}

.button:hover,
.button:focus{
	background: #604e43;
	
}
.button:focus{
	/*box-shadow: 0 0 0 3px #fff,
				0 0 0 6px #604e43;*/
	outline: none;
}
.button:active{
	background: #503e33;
	box-shadow: none;
}
.button:active .button-text{
	color: #928a85;
}
.button-text{
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	transition: 1s;
}
.check-people{
	width: 45%;
}
.data-children{
	margin-left: 40px;
}
.people-old{
	width: 44%;
	text-align: center;
	display: block;
	padding: 10px;
	background: #f2f2f2;
	cursor: pointer;
	font-size: 21px;
	color: #a9a9a9;
}
.people-old-number{
	margin: 0 20px 0 20px;
	color: #000;
	font-size: 14px;
}

/*map-container*/

.map-container{
	background: #f7f4ef;
	position: relative;
}

.map-img{
	display: block;
	width: 1200px;
	height: 475px;
}
.findhotel{
	width: 51%;
	background: #fff;
	position: absolute;
	padding: 55px 50px 55px 50px;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	
}
.findhotel-date{
	width: 100%;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.arival{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.data-number{
	border: 0px solid #e5e5e5;
	outline: none;
	background: #f2f2f2;
	padding: 15px 60px 15px 15px;
	display: block;
	width: 75%;
}
.data-number:hover{
	background: #ebebeb;
}
.data-number:focus{
	box-sizing: border-box;
	background: none;
	outline: none;
	border: 2px solid #e5e5e5;
}
.calendar{
	position: absolute;
	right: 60px;
	cursor: pointer;
}
.findhotel-date-choice{
	display: flex;
	justify-content: space-between;
}
.findhotel-submit{
	background: #81b3d2;
	width: 100%;
	border: none;
	padding: 20px 0;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 21px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 1s;
}
.findhotel-submit:hover{
	background: #669ec0;
}
.findhotel-submit:active{
	background: #5496bd;
	color: #94b9d2;
}
/*footer*/
.footer{
	max-height: 120px;
	overflow: hidden;
	
}
.footer-content{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	height: 120px;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.footer-visit{
	width: 42%;
}
.visit-text{
	font-size: 21px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}
.social-list{
	width: 16%;
	display: flex;
	justify-content: space-between;
}
.social-item{
	position: relative;
	display: block;
	cursor: pointer;
	width: 45px;
	height: 45px;
	background: #81b3d2;
	transition: 1s;
	
}
.social-item:hover,
.social-item:focus{
	background: #669ec0;
}
.social-item:focus{
	outline: none;
}
.social-item:active{
	background: #5496bd;
}
svg{
	fill: #fff;
}
.social-item:active svg{
	fill: #88b6d1;
}
.social-link{
	display: block;
	width: 20px;
	height: 22px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	margin-left: -11px;
	text-align: center;
}
.footer-logo{
	width: 42%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.footer-nameSite{
	width: 25%;
	text-transform: uppercase;
}
.footer-logo-img{
	
	width: 120px;
	height: 40px;
	cursor: pointer;

}
.footer-logo-img>svg{
	fill: #231f20;
	transition: 1s;
}
.footer-logo-img:hover svg,
.footer-logo-img:focus svg{
	fill: #81b3d2;
} 
.footer-logo-img:focus{
	outline: none;
}
.footer-logo-img:active svg{
	fill: #bdbbbc;
} 

/*HOTELLS*/

/*form*/
.hotel-page .structure-comfort{
	display: block;
}
.hotel-page .price{
	background: #496e88 url(../img/filter-bg.png)no-repeat center center;
	background-size: cover;
}
.hotel-page .filter-main{
	padding: 30px 6% 30px 6%;
}
.hotel-page .filter-choice{
	display: flex;
	justify-content: space-between;

}
.hotel-page .filter-content-left{
	display: flex;
	justify-content: space-between;
	width: 30%;
}

.hotel-page .structure-title,
.hotel-page .range-title{
	font-family: 'ptSans','Arial',sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
}
.hotel-page .filter-content-structure,
.hotel-page .filter-content-comfort{
	width: 45%;
	display: flex;
	flex-direction: column;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}
.hotel-page .structure-name{
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hotel-page .checkbox-check{
	margin-right: 15px;
	flex-wrap: wrap;
}
.hotel-page .checkbox-text,
.hotel-page .checkbox-check{
	font: inherit;
}

.hotel-page .filter-content-rigth{
	width: 30%;
}
.hotel-page .range-title{
	margin-bottom: 15px;
}
.hotel-page .filter-count{
	padding: 10px 60px;
	text-align: center;
	margin-bottom: 20px;
	border: 2px solid #fff;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 0;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}
.hotel-page .count-from,
.hotel-page .count-to{
	position: relative;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	width: 50%;
}
.hotel-page .count-from:before{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	border-right: 2px solid #fff;
	width: 2px;
	height: 20px;
}
.hotel-page .filter-range-count{
	width: 100%;
	margin-bottom: 30px;

}
.hotel-page .button-content{
	width: 100%;
	text-align: center;
}
.hotel-page .button-range{
	padding: 10px 30px;
	background: none;
	border: 2px solid #fff;
	text-align: center;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}

/*breadcrums*/
.hotel-page .find-hotels{
	padding: 40px 6% 40px 6%;
	border-bottom: 1px solid #e5e5e5;
}
.hotel-page .breadcrams-list{
	position: relative;
}
.hotel-page .breadcrams-item{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.hotel-page .breadcrams-find,
.hotel-page .find-numb{
	font-size: 21px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
} 
.hotel-page .find-numb{
	margin-right: 50px;
}
.hotel-page .breadcrams-sort{
	text-transform: uppercase;
	font-size: 12px;
	margin-right: 40px;
}
.hotel-page .breadcrams-link{
	color: #e1e1e1;
	text-decoration-style: dotted;
	text-transform: uppercase;
	font-size: 12px;
	margin-right: 30px;
	transition: 1s;
}
.hotel-page .breadcrams-link:hover,
.hotel-page .breadcrams-link:focus,
.hotel-page .breadcrams-link-active{
	color: #81b3d2;
}
.hotel-page .breadcrams-link:focus{
	outline: none;
}
.hotel-page .breadcrams-link:active{
	color: #000;
}
.hotel-page .triangle{
	position: absolute;
	width: 11px;
	height: 10px;
	top: 50%;
	transform: translateY(-50%);

}
.hotel-page .triangle-top{
	right: 15px;
}

.hotel-page .triangle-top>svg,
.hotel-page .triangle-down>svg{
	fill: #cacaca;
	top: 50%;
	transform: translateY(-50%);
	transition: 1s;
}
.hotel-page .triangle-top>svg:hover,
.hotel-page .triangle-down>svg:hover,
.hotel-page .triangle-top>svg:focus,
.hotel-page .triangle-down>svg:focus{
	fill: #231f20;
}
.hotel-page .triangle-top>svg:focus,
.hotel-page .triangle-down>svg:focus{
	outline: none;
}

.hotel-page .triangle-top>svg:active,
.hotel-page .triangle-down>svg:active,
.hotel-page .triangle-down-active>svg{
	fill: #81b3d2;
}

.hotel-page .triangle-down{
	right: 0;
}


/*hotel-content*/
.hotel-page .hotels-book{
	padding: 20px 6% 20px 6%;
	border-bottom: 1px solid #e5e5e5;
}
.hotel-page .hotel-book{
	display: flex;
	justify-content: space-between;
}
.hotel-page .hotel-description{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 42%;
}
.hotel-page .hotel-img{
	max-width: 135px;
	max-height: 90px;
	margin-right: 30px;
}
.hotel-page .hotel-img>img{
	display: block;
}

.hotel-page .hotel-description-title{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}
.hotel-page .hotel-price-text{
	text-transform: uppercase;
	margin-bottom: 10px;
}
.hotel-page .price-text{
	margin-right: 40px;
}
.hotel-page .hotel-more-link,
.hotel-page .button-hotel-book{
	display: inline-block;
	vertical-align: middle;
	background: #81b3d2;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	transition: 1s;
}
.hotel-page .hotel-more-link{
	text-decoration: none;
	padding: 5px 15px;
}
.hotel-page .hotel-more-link:hover,
.hotel-page .hotel-more-link:focus{
	background: #669ec0;
}
.hotel-page .hotel-more-link:focus{
	box-shadow: 0 0 0 3px #fff,
				0 0 0 6px #2f7cc0;
}
.hotel-page .hotel-more-link:active{
	background: #5496bd;
	color: #adcce0;
}
.hotel-page .button-hotel-book{
	background: #766357;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 6px 15px 7px 15px;
}
.hotel-page .button-hotel-book:hover,
.button-hotel-book:focus{
	background: #604e43;
}
.hotel-page .button-hotel-book:focus{
	box-shadow: 0 0 0 3px #fff,
				0 0 0 6px #604e43;
}
.hotel-page .button-hotel-book:active{
	background: #503e33;
	color: #928a85;
}
.hotel-page .hotels-rating{
	width: 20%;
	position: relative;
}
.hotel-page .rating-svg{
	text-align: right;
}
.hotel-page .hotel-rating{
	background: yellow;
	position: absolute;
	width: 70%;
	bottom: 0;
	right: 0;
	color: #666666;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 15px 3px 15px;
	background: #f2f2f2;
}
