/*Общие настройки шаблона*/
body,
html{
	width: 100%;
	height: 100%;
}
.wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
	background: #ccc;
	margin-bottom: 10px;
}
.wrapper li,
.footer__main li{
	list-style:  none;
}
.empty{
	height: 120px;
}
.footer__main{
	position: relative;
	height: 120px;
	margin-top: -120px;
	background: yellow;
}
.layout__positioner{
	width: 1200px;
	margin: 0 auto;
	outline: 2px solid blue;
	background: #fff;
}