/*устанавливаем шрифты*/
@font-face {
    font-family: 'ptSans';
    src: url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'ptSans';
    src: url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'ptSans';
    src: url('../fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bolditalic-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: 400;
    font-style: italic;

}


@font-face {
    font-family: 'ptSans';
    src: url('../fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-italic-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-italic-webfont.svg#pt_sansitalic') format('svg');
    font-weight: bold;
    font-style: italic;

}
/*Общие настройки шаблона*/
html{
	box-sizing: border-box; 
}
*, 
*::before, 
*::after{
	box-sizing: inherit; 
}

body{
	-webkit-font-smoothing: antialiased;
	font-family: 'ptSans','Arial',sans-serif;
	line-height: 1.42;
	background: #f2f2f2;
	color: #333333;
	margin: 0;
	padding: 0;	
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 5px 15px 0 rgba(0,1,1, .2);
}
.wrapper li,
.footer-main li{
	list-style:  none;
}
.footer-main{
	position: relative;
	height: 120px;
	background-color: rgba(254,254,254,.1);
}


/*header*/
.header-main{
	position: relative;
		
}
.header-menu{
	padding: 0 70px 0 70px;
	display: flex;
	justify-content: space-between;
}
.header-nav-left,
.header-nav-right{
	margin: 0;
	padding: 0;
	width: 44%;
	display: flex;
	flex-wrap: wrap;
}

.header-nav-right{
	justify-content: flex-end;
}
.header-nav-right .header-menu-item{
	margin-right: 0;
	margin-left: 80px;
}
.header-menu-item{
	margin-right: 80px;
	padding: 15px 15px;
}
.header-menu-link{
	display: block;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: 1s
}
.header-menu-link:hover,
.header-menu-link:focus{
	color: #81b3d2;
}
.header-menu-link:focus{
	outline: none;
}
.header-menu-link:active{
	color: #cacaca;
}
.header-menu-link-active{
	color: #766357;
}

.header-menu-logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
.header-welcome{
	position: relative;
	width: 100%;
	height: 720px;
	background: #ddebf4 url(../img/img_header.jpg) no-repeat center center;
	background-size: cover;
	
}

.header-welcome-img{
	display: block;
	position: absolute;
	bottom: -10%;
	top: 10%;

}
.header-welcome-description{
	position: absolute;
	bottom: 35px;
	width: 100%;
	text-align: center;
}
.description-title,
.advantage-description-title{
	font-size: 21px;
	font-weight: bold;
	color: #000;
	width: 40%;
	margin: 0 auto;
	text-transform: uppercase;

}
.description-text{
	text-transform: uppercase;
}

/*advantages*/
.advantage{
	display: flex;
	overflow: hidden;
}
.advantage-reverse{
	display: flex;
	flex-direction: row-reverse;
}
.advantage-description{
	width: 34%;
}	
.advantage-pict{
	width: 66%;
}
.advantage-img{
	display: block;
	max-width: 100%;
	max-height: 100%;

}
.advantage-description{
	background: #81b3d2;
	position: relative;
}
.advantage-description .description-content{
	position: absolute;
	text-align: center;
	overflow: hidden;
	width: 70%;
	left: 50%;
	margin-left: -35%;
	height:  200px;
	top: 50%;
	transform: translateY(-50%);
}
.advantage-description-title{
	width: 60%;
	padding-top: 20px;
	text-align: center;
	color: #fff;
}
.title-bottom{
	display: block;
}
.advantage-description-number,
.advantage-description-text{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}

.advantage-description-number{
	position: relative;
	margin-bottom: 30px;
}

.advantage-description-number:after,
.advantage-description-number:before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 10px;
	border: 1px solid #fff;
}
.advantage-description-number:before{
	right: 110px;
}
.advantage-description-number:after{
	left: 110px;
}


/*properties*/
.properties{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.properties-bottom{
	background: #eeeeee;
}
.property{
	width: 33%;
	text-align: center;
	padding: 65px 0 80px 0;
	flex-grow: 1;
}
.properties-bottom .property{
	padding: 45px 0 55px 0;
}
.property svg{
	margin-bottom: 15px;
}
.property-title{
	font-size: 21px;
	color: #000;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.property-text{
	text-transform: uppercase;
	width: 75%;
	margin: 0 auto;
	
}
.property-number{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

/*interesting*/
.interesting{
	text-align: center;
	padding: 45px 0 0 0;
}
.interesting-title{
	font-size: 30px;
	color: #000;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.interesting-text{
	text-transform: uppercase;
	width: 40%;
	text-align: center;
	margin: 0 auto 30px auto;
}
.interesting-text .interesting-text-top{
	display: block;
	
}
.interesting-text .interesting-text-botton{
	display: block;
}
.button{
	padding: 30px 0;
	width: 47%;
	border: none;
	background: #766357;
	cursor: pointer;
	transition: 1s;
}

.button:hover,
.button:focus{
	background: #604e43;
	
}
.button:focus{
	/*box-shadow: 0 0 0 3px #fff,
				0 0 0 6px #604e43;*/
	outline: none;
}
.button:active{
	background: #503e33;
	box-shadow: none;
}
.button:active .button-text{
	color: #928a85;
}
.button-text{
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	transition: 1s;
}
.check-people{
	width: 50%;
}
.data-children{
	margin-left: 40px;
}
.people-old{
	display: block;
	width: 50%;
	cursor: pointer;
	text-align: center;
	color: #a9a9a9;
	padding: 10px;
	background: #f2f2f2;
	font-size: 21px;
}
.people-old-plus,
.people-old-minus{
	transition: 0.5s;
}


.people-old-plus:hover,
.people-old-minus:hover{
	color: #000;
}
.people-old-plus:active,
.people-old-minus:active{
	color: #81b3d2;
}
.people-old-number{
	width: 25%;
	outline: none;
	border: none;
	background: #f2f2f2;
	text-align: center;
	margin: 0 20px 0 20px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}
/*::-webkit-input-placeholder{
	color: #000;
	font-weight: bold;
}*/

/*map-container*/

.map-container{
	position: relative;
	height: 570px;
}

.map-img{
	display: block;
	width: 1200px;
	height: 570px;
	position: absolute;
	left: 0;
	top: 0;

}
.findhotel{
	width: 47%;
	background: #fff;
	position: absolute;
	padding: 50px 50px 55px 50px;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	z-index: 100;
}
.findhotel-date{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.arival{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.data-number{
	border: 2px solid transparent;
	outline: none;
	background: #f2f2f2;
	padding: 15px 60px 15px 15px;
	display: block;
	width: 75%;
}
.data-number:hover{
	background: #ebebeb;
}
.data-number:focus{
	background: #fff;
	border-color: #e5e5e5;
}
.calendar{
	position: absolute;
	right: 60px;
	cursor: pointer;
}
.findhotel-date-choice{
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}
.findhotel-submit{
	background: #81b3d2;
	width: 100%;
	border: none;
	padding: 15px 0;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 21px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: 1s;
}
.findhotel-submit:hover{
	background: #669ec0;
}
.findhotel-submit:active{
	background: #5496bd;
	color: #94b9d2;
}
/*footer*/
.footer{
	overflow: hidden;
	background: #fff;
}
.footer-main-index{
	margin-top: -100px;
}
.footer-content{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.footer-visit{
	width: 42%;
}
.visit-text{
	font-size: 21px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}
.social-list{
	width: 16%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.social-item{
	position: relative;
	display: block;
	cursor: pointer;
	width: 45px;
	height: 45px;
	background: #81b3d2;
	transition: 1s;
	
}
.social-item:hover,
.social-item:focus{
	background: #669ec0;
}
.social-item:focus{
	outline: none;
}
.social-item:active{
	background: #5496bd;
}
svg{
	fill: #fff;
}
.social-item:active svg{
	fill: #88b6d1;
}
.social-link{
	display: block;
	width: 20px;
	height: 22px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	margin-left: -11px;
	text-align: center;
}
.footer-logo{
	width: 42%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.footer-nameSite{
	text-transform: uppercase;
}
.footer-logo-img{	
	width: 120px;
	height: 40px;
	cursor: pointer;
}
.footer-logo-img>svg{
	fill: #231f20;
	transition: 1s;
	display: block;
	margin-left: 10px;
}
.footer-logo-img:hover svg,
.footer-logo-img:focus svg{
	fill: #81b3d2;
} 
.footer-logo-img:focus{
	outline: none;
}
.footer-logo-img:active svg{
	fill: #bdbbbc;
} 

/*HOTELLS*/

/*form*/
.structure-comfort{
	display: block;
}
.price{
	background: #496e88 url(../img/filter-bg.jpg)no-repeat center center;
	background-size: cover;
}
.filter-main{
	padding: 15px 70px 5px 70px;
}
.filter-choice{
	display: flex;
	justify-content: space-between;

}
.filter-content-left{
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.structure-title,
.range-title{
	font-family: 'ptSans','Arial',sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
}
.filter-content-structure,
.filter-content-comfort{
	width: 40%;
	display: flex;
	flex-direction: column;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}

.filter-content-structure label,
.filter-content-comfort label{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0;
	margin-bottom: 25px;
	padding-left: 40px;
}
.filter-content-structure label:before,
.filter-content-comfort label:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	background: url(../img/checkbox-off.svg) no-repeat;
	width: 25px;
	height: 25px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	
}

.filter-content-structure label:after,
.filter-content-comfort label:after{
	content: '';
	opacity: 0;
	vertical-align: middle;
	position: absolute;
	background: url(../img/checkbox-on.svg) no-repeat;
	width: 25px;
	height: 25px;
	left: 0;
	top: -2px;
	
}
.filter-content-structure input:checked + label:before,
.filter-content-comfort input:checked + label:before{
	display: none;
}

.filter-content-structure input:checked + label:after,
.filter-content-comfort input:checked + label:after{
	opacity: 1;

}

.filter-content-structure label:hover:after,
.filter-content-comfort label:hover:after{
	opacity: 1;
}
.filter-content-structure input:hover + label:before,
.filter-content-comfort input:hover + label:before{
	display: none;
}

.checkbox-text,
.checkbox-check{
	font: inherit;
}

.filter-content-rigth{
	width: 30%;
}
.range-title{
	margin: 16px 0 8px 0;
}
.filter-content-main{
	margin: 0;
}
.filter-count-main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 2px solid #fff;
	position: relative;
	margin: 0;
	margin-bottom: 25px;
	padding: 5px 0;
}
.filter-count-main:after{
	content: '';
	display: block;
	position: absolute;
	border: 1px solid #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 20px ;
}
.filter-count{
	width: 45%;
	text-align: center;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.filter-count-enter{
	width: 30%;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.filter-count-enter::-webkit-input-placeholder{
	color: #fff;

}
.filter-range{
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
}
.filter-range .scale{
	height: 2px;
	background: rgba(255,255,255, 0.3);
}
.filter-range .bar{
	width: 80%;
	height: 2px;
	background: #fff;
}
.range-toggle{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-top: -10px;
	background: #fff;box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

}
.range-toggle:after{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	background: #ababab;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 1s;
}
.range-toggle:hover.range-toggle:after{
	background: #1c4f80;
}
.range-min{
	left: 0;
}
.range-max{
	left: 80%;
}

.button-content{
	width: 100%;
	text-align: center;
}
.button-range{
	padding: 10px 35px 6px 35px;
	background: transparent;
	border: 2px solid #fff;
	text-align: center;
	font-family: 'ptSans','Arial',sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	transition-property: background,color;
	transition-duration: 6s;
}
.button-range:hover{
	background-color: #fff;
	color: #000;
}
/*breadcrums*/
.find-hotels{
	padding: 30px 70px 40px 70px;
	border-bottom: 1px solid #e5e5e5;
}
.breadcrams-list{
	position: relative;
	margin: 0;
	padding: 0;
}
.breadcrams-item{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.breadcrams-find,
.find-numb{
	font-size: 21px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
} 
.find-numb{
	margin-right: 50px;
}
.breadcrams-sort{
	text-transform: uppercase;
	font-size: 12px;
	margin-right: 40px;
}
.breadcrams-link{
	color: #e1e1e1;
	text-decoration-style: dotted;
	text-transform: uppercase;
	font-size: 12px;
	margin-right: 30px;
	transition: 1s;
}
.breadcrams-link:hover,
.breadcrams-link:focus,
.breadcrams-link-active{
	color: #81b3d2;
}
.breadcrams-link:focus{
	outline: none;
}
.breadcrams-link:active{
	color: #000;
}
.triangle{
	position: absolute;
	width: 11px;
	height: 10px;
	top: 50%;
	transform: translateY(-50%);

}
.triangle-top{
	right: 15px;
}

.triangle-top>svg,
.triangle-down>svg{
	fill: #cacaca;
	top: 50%;
	transform: translateY(-50%);
	transition: 1s;
}
.triangle-top>svg:hover,
.triangle-down>svg:hover,
.triangle-top>svg:focus,
.triangle-down>svg:focus{
	fill: #231f20;
}
.triangle-top>svg:focus,
.triangle-down>svg:focus{
	outline: none;
}

.triangle-top>svg:active,
.triangle-down>svg:active,
.triangle-down-active>svg{
	fill: #81b3d2;
}

.triangle-down{
	right: 0;
}


/*hotel-content*/
.hotels-book{
	padding: 20px 70px 35px 70px;
	border-bottom: 1px solid #e5e5e5;
}
.hotel-book{
	display: flex;
	justify-content: space-between;
}
.hotel-description{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 41%;
}
.hotel-img{
	max-width: 135px;
	max-height: 90px;
}
.hotel-img>img{
	display: block;
}

.hotel-description-title{
	font-size: 21px;
	text-transform: uppercase;
	margin: 0;
	font-weight: bold;
	margin-bottom: 5px;
	cursor: pointer;
	transition: 0.5s;
}
.hotel-description-title:hover{
	color: #81b3d2;
}
.hotel-description-title:active{
	color: rgba(0,0,0, .3);
}
.hotel-price-text{
	text-transform: uppercase;
	margin: 0;
}
.price-text{
	display: inline-block;
	margin-right: 18px;
	margin-bottom: 10px;
}
.hotel-more-link,
.button-hotel-book{
	display: inline-block;
	vertical-align: middle;
	background: #81b3d2;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	transition: 1s;
}
.hotel-more-link{
	text-decoration: none;
	padding: 5px 15px;
}
.hotel-more-link:hover,
.hotel-more-link:focus{
	background: #669ec0;
}
.hotel-more-link:focus{
	box-shadow: 0 0 0 3px #fff,
				0 0 0 6px #2f7cc0;
}
.hotel-more-link:active{
	background: #5496bd;
	color: #adcce0;
}
.button-hotel-book{
	background: #766357;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 6px 15px 7px 15px;
}
.button-hotel-book:hover,
.button-hotel-book:focus{
	background: #604e43;
}
.button-hotel-book:focus{
	box-shadow: 0 0 0 3px #fff,
				0 0 0 6px #604e43;
}
.button-hotel-book:active{
	background: #503e33;
	color: #928a85;
}
.hotels-rating{
	width: 20%;
	position: relative;
}
.rating-svg{
	text-align: right;
	margin: 0;
}
.hotel-rating{
	position: absolute;
	width: 70%;
	bottom: 0;
	right: 0;
	margin: 0;
	color: #666666;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0 6px 30px;
	background: #f2f2f2;
}
